---
layout: default
title: Nate Berkopec
---
<div class="row">
  <div class="col-md-5">
    <h1 id="blowup-text" class="visible-lg-block">
      Na<span style="margin-left:-0.06em">te</span> <br>
      Makes <br>
      Apps <br>
      <span style="margin-left:-0.04em">Fast</span> <br>
    </h1>
    <h1 id="blowup-text-md" class="visible-md-block">
      Na<span style="margin-left:-0.06em">te</span> <br>
      Makes <br>
      Apps <br>
      <span style="margin-left:-0.04em">Fast</span> <br>
    </h1>
    <h1 id="blowup-text-small" style="margin-top: 1em"; class="visible-sm-block">
      Na<span style="margin-left:-0.06em">te</span> Makes Apps Fast
    </h1>
  </div>
  <div class="col-md-6">
    <div style="width 100%; height: 2em" class="visible-md-block visible-lg-block"></div>
    <h1 style="margin-top: 0; font-size: 1.7em;">
      I make Ruby apps faster -<br>
      across the entire stack.
    </h1>
    <p>
      <a target="_blank" href="http://www.github.com/nateberkopec" ><img src="/assets/img/github.png" /></a>
      <a target="_blank" href="http://www.twitter.com/nateberkopec" ><img src="/assets/img/twitter.png" /></a>
      <a target="_blank" href="http://www.facebook.com/nateberkopec" ><img src="/assets/img/facebook.png" /></a>
      <a target="_blank" href="http://www.reddit.com/nateberkopec" ><img src="/assets/img/reddit.png" /></a>
    </p>
    <p>
      I'm the proprietor of <a target="_blank" href="https://www.speedshop.co/">Speedshop</a>,
      a Ruby on Rails performance consultancy.
      I've also worked for several startups, including
      <a target="_blank" href="http://www.craftcoffee.com">Craft Coffee</a> (YC S14),
      <a target="_blank" href="http://www.unwind.me">Unwind Me</a> (YC S14), Scaffold (500 Startups),
      <a target="_blank" href="http://branch.com/">Branch</a>
      (now <a target="_blank" href="https://itunes.apple.com/us/app/rooms-create-something-together/id924643029?mt=8">a division of Facebook</a>)
      and many others. I'm a contributor to several open source projects,
      such as <a href="http://contributors.rubyonrails.org/contributors/nate-berkopec/commits">Ruby on Rails</a> and
      <a href="https://github.com/getsentry/raven-ruby/commits/master?author=nateberkopec">Sentry</a>.
      I recently gave
      <a href="http://confreaks.tv/videos/railsconf2016-make-a-rails-app-with-140-characters-or-less">a talk at Railsconf on ultra-tiny Rails apps.
      </a>
    </p>

    <p>
      <a href="http://abc.go.com/shows/shark-tank/episode-guide/season-01/113-episode-113">I appeared on Shark Tank</a>,
      ABC's primetime entrepreneurship show, when I was nineteen.
    </p>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-12">
    <h1>Latest from the Blog</h1>
  </div>
</div>

<div class="row">
  {% assign counter = 0 %}
  {% assign maxPostCount = 4 %}
  {% for post in site.posts %}
    {% if counter < maxPostCount %}
      <div class="col-md-6" style="min-height: 420px">
        <h3>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <p>
          {{ post.summary | strip_html | truncatewords: 50 }}
        </p>
        <p><a href="{{ post.url | prepend: site.baseurl }}">Read more</a></p>
      </div>
      {% assign counter=counter | plus:1 %}
    {% endif %}
  {% endfor %}
</div> -->
