---
layout: homepage
title: Nate Berkopec
---
<div class="row">
  <div class="col-md-5">
    <h1 id="blowup-text" class="visible-md-block visible-lg-block">
      Na<span style="margin-left:-0.06em">te</span> <br>
      Makes <br>
      <span style="margin-left:0.04em">Web</span> <br>
      Apps <br>
    </h1>
    <h1 id="blowup-text-small" style="margin-top: 1em"; class="visible-sm-block">
      Na<span style="margin-left:-0.06em">te</span> Makes Web Apps
    </h1>
  </div>
  <div class="col-md-6">
    <div style="width 100%; height: 2em" class="visible-md-block visible-lg-block"></div>
    <h1 style="margin-top: 0; font-size: 1.7em;">
      I make web applications for businesses <br>
      with Ruby on Rails.
    </h1>
    <p>
      <a href="http://www.github.com/nateberkopec" ><img src="/assets/img/github.png" /></a>
      <a href="http://www.twitter.com/nateberkopec" ><img src="/assets/img/twitter.png" /></a>
      <a href="http://www.facebook.com/nateberkopec" ><img src="/assets/img/facebook.png" /></a>
      <a href="http://www.reddit.com/nateberkopec" ><img src="/assets/img/reddit.png" /></a>
    </p>
    <p>
      I've worked for several startups, including <a href="http://www.craftcoffee.com">Craft Coffee</a> (YC S14), <a href="http://www.unwind.me">Unwind Me</a> (YC S14), Scaffold (500 Startups), <a href="http://branch.com/">Branch</a> (now <a href="https://itunes.apple.com/us/app/rooms-create-something-together/id924643029?mt=8">a division of Facebook</a>) and many others. I'm a contributor to several open source projects, such as <a href="http://contributors.rubyonrails.org/contributors/nate-berkopec/commits">Ruby on Rails</a> and <a href="https://github.com/getsentry/raven-ruby/commits/master?author=nateberkopec">Sentry</a>. I recently gave <a href="http://confreaks.tv/videos/goruco2015-rails-5-turbolinks-3-and-the-future-of-view-over-the-wire">a talk at GORUCO on Turbolinks.</a>
    </p>

    <p>
      But I'm not just a freelance programmer. I have a business degree - not a computer science degree. <a href="http://abc.go.com/shows/shark-tank/episode-guide/season-01/113-episode-113">I appeared on Shark Tank</a>, ABC's primetime entrepreneurship show, when I was nineteen. I've been hired to test new business concepts, design brands, and lay out assembly lines.
    </p>

    <hr>

    <div style="margin-bottom: 2em">
      <h2 class="text-center">What can I do for your company?</h2>
      <a href="mailto:nate.berkopec+viasite@gmail.com" class="btn btn-primary btn-lg center-block" style="width: 33%; min-width: 150px">Email Me</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Latest from the Blog</h1>
  </div>
</div>

<div class="row">
  {% assign counter = 0 %}
  {% assign maxPostCount = 4 %}
  {% for post in site.posts %}
    {% if post.date < site.time and counter < maxPostCount %}
      <div class="col-md-6" style="min-height: 420px">
        <h3>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <p>
          {{ post.content | strip_html | truncatewords: 50 }}
        </p>
        <p><a href="{{ post.url | prepend: site.baseurl }}">Read more</a></p>
      </div>
      {% assign counter=counter | plus:1 %}
    {% endif %}
  {% endfor %}
</div>
