#blowup-text {
  font-size: 175px;
  color: #000;
  font-family: 'Oswald', sans-serif;
  line-height: .9;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  font-weight: 500;
  font-display: block;
}

#blowup-text-md {
  font-size: 6.5em;
  color: #000;
  font-family: 'Oswald', sans-serif;
  line-height: .9;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  font-weight: 500;
}

#blowup-text-small {
  font-size: 6em;
  color: #000;
  font-family: 'Oswald', sans-serif;
  line-height: .9;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  font-weight: 500;
}

#blowup-text .char52, #blowup-text .char15, #blowup-text .char33, #blowup-text .char34 {
  margin-left: -0.02em;
}

#blowup-text .char16 {
  margin-left: -0.08em;
}

#blowup-text .char51 {
  margin-left: .06em;
}
