$contrast-color: #a00000;
$border-color: #333333;

$font-family-serif: "Times New Roman", Times, serif;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-serif;

$font-size-base: 22px;
$line-height-base: 1.5;

$gray-light: #777;
