---
---

@use "sass:color";
@use "settings" as *;
@use "syntax-highlighting";
@use "homepage";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: #333;
  background: #fff;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container,
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

[class^="col-"],
[class*=" col-"] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media (min-width: 992px) {
  .col-md-5 {
    flex: 0 0 41.6667%;
    max-width: 41.6667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

p, ol, ul {
  font-size: $font-size-base;
  font-weight: 200;
}

h1,h2,h3,p,ol,ul {
  margin-bottom: 28px;
}

blockquote {
  color: #777;
}

.post img {
  max-width: 100%
}

.fullwidth { max-width: 95%; }

.sidenote, .marginnote{
  float: right;
  clear: right;
  margin-right: -70%;
  width: 60%;
  margin-top: 0rem;
  margin-bottom: 1.96rem;
  font-size: 0.65em;
  vertical-align: baseline;
  position: relative;
  color: $gray-light;
}

.sidenote img, .marginnote img {
  max-width: 100%;
}

@media screen and (max-width: 600px){
  .sidenote, .marginnote{
    width: 25%;
    margin-right: -35%;
  }
}

@media screen and (max-width: 400px){
  .sidenote, .marginnote{
    display:none;
  }
}

.footnotes{
  margin-bottom: 1.4rem;
}

.sidenote-number {
  color: color.adjust($contrast-color, $lightness: 15%);
}

.newthought {
  font-variant: small-caps;
}

/* LaTeX-logo-specific styling */
.latex sub, .latex sup { text-transform: uppercase; }

.latex sub { vertical-align: -0.5ex;
             margin-left: -0.1667rem;
             margin-right: -0.125rem; }

.latex, .latex sub { font-size: 1rem; }

.latex sup { font-size: 0.85rem;
             vertical-align: 0.15rem;
             margin-left: -0.36rem;
             margin-right: -0.15rem; }

.post {
  max-width: 800px;
}

td,th {
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
}

table th,
table td {
  border-top: 1px solid #ddd;
}

figure.animated_gif_frame {
  position: relative;
  cursor: pointer;
  opacity: 0.5;
  display: inline-block;
  transition: opacity, 0.2s, ease-in-out; }
  figure.animated_gif_frame:hover, figure.animated_gif_frame.playing {
    opacity: 1; }
  figure.animated_gif_frame::before {
    content: ' ';
    pointer-events: none;
    position: absolute;
    z-index: 100;
    background: url(/assets/img/gif-play-button.png) center center no-repeat;
    width: 100%;
    height: 100%; }
  figure.animated_gif_frame.playing::before {
    display: none;
    }
  figure.animated_gif_frame.playing img {
    opacity: 1; }
