name: Test

on:
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - name: Install node dependencies
        run: npm ci
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Run test suite
        run: bundle exec rake test
